[*.cs]

# IDE0022: Использовать тело блока для методов
csharp_style_expression_bodied_methods = true

# IDE0022: Использовать тело выражения для методов
dotnet_diagnostic.IDE0022.severity = none

# IDE0008: Использование явного типа
csharp_style_var_elsewhere = true

# IDE0008: Использование явного типа
dotnet_diagnostic.IDE0008.severity = none
